**/node_modules
.editorconfig
.env
.env.local.example
.git
.gitignore
.phpunit.result.cache
/.composer-cache
/.gitlab-ci
/.npm
/.phpunit.cache
/.vagrant
/database/*.sqlite
/database/*.sqlite-journal
/docker/images
/public/hot
/public/manifest.json
/storage/docker
/storage/tmp
Homestead.json
Homestead.yaml
npm-debug.log
storage/*.key
yarn-error.log
