**/node_modules/
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.gitlab-ci-local-variables.yml
/.gitlab-ci-local/
/.idea
/.nova
/.npm
/.phpstan
/.phpunit.cache
/.vscode
/.zed
/composer
/gl-container-scanning-report.json
/gl-sbom-report.cdx.json
/psysh
/public/build*
/public/hot
/public/storage
/resources/js/auto-imports.d.ts
/resources/js/components.d.ts
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
auth.json
docker-compose-ide.yml
npm-debug.log
stats.html
yarn-error.log
/public/vendor/telescope/

.DS_Store
**/.DS_Store
.env.bak
/storage/api-docs/api-docs.json
